@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Raleway&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    overflow: hidden;
}
html{
    scroll-behavior: smooth;
}
.bloque{
    width: 100vw;
    padding-top: 50px;
    flex-shrink: 0;
    height: 100vh;
}
header{
    position: fixed;
    bottom: 0;
    padding: 10px 0;
    width: 100%;
    background-image: linear-gradient(to right,purple,dodgerblue,green);
    text-align: center;
    font-family: 'Raleway',sans-serif;
    font-weight: bold;
}
form{
    margin-left: 23px;
}
.formulario{
    display: table;
    background-color: rgba(255, 255, 255, 0.719);
    width: 400px;
}
.formulario h3{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 12px;
    padding-top: 12px;
    margin-left: 104px;
    font-family: 'Raleway',sans-serif;
}
.info{
    margin-bottom: 10px;
}
label{
    display:block;
    width: 100px;
    margin-right: 10px;
    font-size: 19px;
    font-family: 'Raleway',sans-serif;
    margin-bottom: 5px;
}
.formulario .info .usu{
    width: 350px;
    padding: 6px;
    margin-left: -0px;
}
.formulario .info input[type="password"]{
    padding: 6px;
    width: 350px;
}
.formulario .info input[type="submit"]{
    width: 350px;
    padding: 6px;
    font-family: 'Raleway',sans-serif;
    font-size: 16px;
    font-weight: bold;
    background-color: rgb(193, 255, 234);
    margin-bottom: 12px;
}
.formulario .info input[type="submit"]:hover{
    background-color: aquamarine;
}
a{
    display: inline-block;
    margin: 0 20px;
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 10px;
}
#intro{
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/Inicio.jpg');
}

#intro .contenedor h2{
    font-size: 4rem;
    text-align: center;
    color: white;
    text-shadow: 3px 3px 3px 10px rgb(54,39,39);
    position: relative;
    animation: 3s aparecer forwards;
    padding-bottom: 80px;
    font-family: 'Josefin Sans',sans-serif;
}
@keyframes aparecer{
    0%{
        opacity: 0;
        top: 50px;
    }
    100%{
        opacity: 1;
        top: 0px;
    }
}
h3{
    font-family: 'Josefin Sans';
    font-weight: bold;
}
.info label{
    font-family: 'Josefin Sans';
    font-weight: bold;
}
.info input{
    width: 50%;
    border: 1px solid black;
}
.usu{
    width: 50%;
    margin-left: 25px;
}
#servicios{
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/Hotel_piscina.jpg');
    font-family: 'Josefin Sans';
    font-weight: bold;
}
.item_servicio1{
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/2piscina.jpg');  
    border: 1px solid black;
}
.item_servicio1:hover{
    width: 300px;
    cursor: pointer;
}
.item_servicio2{
    height: 900px;
    display: flex;
    width: 150px;
    justify-content: center;
    align-items: center;
    background-image: url('../img/restaurant.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
}
.item_servicio2:hover{
    width: 300px;
    cursor: pointer;
}
.item_servicio3{
    height: 900px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/bar1.png');
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
}
.item_servicio3:hover{
    width: 300px;
    cursor: pointer;
}
.item_servicio4{
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/spa4.jpg');
    width: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid black;
}
.item_servicio4:hover{
    width: 300px;
    cursor: pointer;
}
.item_servicio5{
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/serviciohab.jpg');
    width: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid black;
}
.item_servicio5:hover{
    width: 300px;
    cursor: pointer;
}
#reservas{
    font-family: 'Josefin Sans';
    font-size: 20px;
    padding: 65px;
    background-image: url('../img/recepcion.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
}
.item_clausulas{
    background-image: url('../img/clausulas.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}